/*This is a seperate file as to avoid annoying conflicts and code bloat in the stylesheet of other pages*/
/*This page also nessisitates flex display, which would conflict with the other page's formatting*/

/* remove default margin and padding so navbar colors take up full top segment */
body, html{
	box-sizing: border-box;
  	height: 100%;
	margin: 0;
	padding: 0;
	background-color: rgb(178, 178, 178);
	font-family: "Candara", sans-serif;
}

.wrapper {
  	box-sizing: border-box;
  	min-height: 100%;
  	display: flex;
  	flex-direction: column;
}

.navbar{
	background-color: rgb(59, 78, 78);
	overflow: hidden; /*specifies what to do with content that runs over the limit*/
	top: 0;
	font-family: monospace;
	font-size: 15px;
	height: 3.2em;
	flex-grow: 0;
  	flex-shrink: 0;
}
.navbar a{
	float: left;
	padding: 1em;
	color: rgb(178, 178, 178);
	text-align: center;
	text-decoration: none;
}
.navbar a:hover{ /*Make links a different color when highlighted, for clarity*/
	color: rgb(123, 123, 123);
}

.footer{ /*Div for footer and footer are different, since one has content (copyright warning) and the other has formatting*/
	background-color: rgb(59, 78, 78);
	overflow: hidden;
	bottom: 0;
	position: relative; /*keeps it at the bottom of the screen*/
	width: 100%;
	height: 3.5em;
	flex-grow: 0;
  	flex-shrink: 0;
}
.footer footer{
	color: rgb(178, 178, 178);
	font-family: monospace;
	font-size: 15px;
	padding: 0;
	margin: 0;
	text-align: right;
	text-decoration: none;
}

.content{
	text-align: center;
	height: auto;
	color: rgb(38, 41, 33);
	margin: 20px; /*We have to add padding here, since we removed the browser default*/
	flex-grow: 1;
  	display: flex;
}
.content a{
	margin: auto;
	text-decoration: none; /*Artifacts are created if this is not included*/
}

.content img{
	object-fit: contain;
  	max-width: 100vw;
  	max-height: 79vh;
  	margin: auto;
	border: 3px;
	border-color: rgb(59, 78, 78);
	border-style: solid;
}