/* remove default margin and padding so navbar colors take up full top segment */
body, html{
	margin: 0;
	padding: 0;
	font-family: "Verdana", sans-serif;
}

.wrapper {
	padding: 50px;
	background: repeating-linear-gradient(-45deg, rgb(200, 200, 200), rgb(178, 178, 178) 10px, rgb(156, 156, 156) 37px,
		rgb(129, 129, 129) 43px
	);
}

.contentPanel {
	width: 70%;
	margin: 0 auto;
	background: rgb(205, 211, 224);
	padding: 20px;
	border-radius: 10px;
 	display: grid;
  	grid-template-rows: auto 1fr auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar{
	background-color: rgb(59, 78, 78);
	overflow: hidden; /*specifies what to do with content that runs over the limit*/
	top: 0;
	height: 3.2em;
	font-family: monospace;
	font-size: 15px;
	border-radius: 10px;
	padding: 0.5em;
	text-align: center;
}
.navbar a{
	float: left;
	padding: 1em;
	margin: 0 1px;
	border: 1px solid grey;
	border-radius: 5px;
	background: linear-gradient(to bottom, rgb(93, 103, 103), rgb(59, 78, 78) 50%, rgb(39, 52, 52) 100%);
	color: rgb(178, 178, 178);
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.3);
	text-decoration: none;
}
.navbar a:active{
	box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.6);
	transform: translateY(3px);
}
.navbar a:hover{ /*Make links a different color when highlighted, for clarity*/
	color: rgb(123, 123, 123);
}

.footer{ /*Div for footer and footer are different, since one has content (copyright warning) and the other has formatting*/
	background-color: rgb(59, 78, 78);
	overflow: hidden;
	bottom: 0;
	position: relative; /*keeps it at the bottom of the screen*/
	width: 100%;
	height: 3em;
}
.footer footer{
	color: rgb(178, 178, 178);
	font-family: monospace;
	font-size: 15px;
	padding: 1em;
	text-align: right;
	text-decoration: none;
}

.content{
	text-align: left;
	height: auto;
	color: rgb(38, 41, 33);
	font-size: 12px;
	margin: 20px; /*We have to add padding here, since we removed the browser default*/
}

.content figure{
	float: right;
	margin: 1em;
}
.content a:link{
	color: rgb(79, 79, 79);
}
.content a:hover{
	color: rgb(45, 45, 45);
}
.content a:visited{
	color: rgb(79, 79, 79);
}
.content p{
	width: 75%;
}
.content video{
	float: right;
}
.content h1, h2, h3, h4, h5, h6{
	color: rgb(70, 70, 70);
}

.image_links{
	margin: 0.5em;
	text-decoration: none; /*Artifacts are created if this is not included*/
	text-align: center;
}
.image_links img{
	border: 1px;
	border-color: rgb(59, 78, 78);
	border-style: solid;
}

.img_block {
	text-align: center;
}

.page-nav{
	border: 1em;
	border-color: rgb(218, 218, 218);
	border-style: solid;
	border-radius: 1em;
	margin: 1em;
	float: right;
	background-color: rgb(218, 218, 218);

}
.page-nav ul{
	padding-left: 1em;
}

.blog_post_section{
	clear: right;
	border: 1em;
	border-color: rgb(218, 218, 218);
	border-style: solid;
}

.blog_post{
	padding: 1em;
	border: 2px;
	border-color: rgb(59, 78, 78);
	border-style: solid;
	overflow: auto;
}

.notice{
	text-align: center;
	display: flex;
	justify-content: center;
	font-size: 14px;
	
}
.notice #title{
	border-collapse: collapse;
	color: red;
	font-size: 1.3em; /*Using different font size here rather than just a header tag due to headers adding extra margin*/
			padding: 0.5em;
}